@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Cairo');

$mainColor: rgba(0, 0, 0, 0.5);
$lighter: rgba(0, 0, 0, 0.25);
$text: white;
$radius: 5px;


body {
    background-repeat: none;
    background-size: cover;
    font-family: 'Cairo', sans-serif;
}
input {
    border: none;
    padding: 10px;
    font-size: 16px;
}

.btn {
    font-size: 16px;
}

.container {
    background-color: $mainColor;
}

.todo-list {
    background-color: $mainColor;
    padding: 25px;
    margin: 25px 25px 0 25px;
    width: 100%;
    border-radius: $radius $radius 0 0;
}
.todo-input{
    color: black;
}
#main-input{
    width: 80%;
}

#weather {
    font-size: 20px;
    background-color: $mainColor;
    color: $text;
    padding: 25px;
    margin: 25px;
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
}

#todo {
    background-color: $lighter;
    padding: 25px;
    margin: 0 25px 25px 25px;
    width: 100%;
    border-radius: 0 0 $radius $radius;
}
.item {
    font-size: 18px;
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.thing {
    color: $text;
}

.item:hover {
    background-color: gray;
    border-radius: $radius;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

h4 {
    color: $text;
    font-size: 25px;
}
h1 {
    color: $text;
    font-size: 125px;
}
.am-pm {
    font-size: 25px;
    color: $text;
}

.time-quote {
    background-color: $mainColor;
    text-align: center;
    padding: 25px;
    margin: 25px;
    border-radius: 5px;
}

#author {
    display: none;
    text-align: center;
}
#myQuote {
    margin-bottom: 15px;
}

#quote {
    color: $text;
    text-align: center;
}
